<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeJS File Upload</title>
</head>
<body>
    <fieldset>
        <legend>
            Fájl feltöltés mindenkinek
        </legend>
        <form method="post" enctype="multipart/form-data">
            <p>
                <input type="file" name="uploadFile" />
            </p>
            <p>
                <button type="button" id="uploadButton">
                    Feltöltés AJAX-al
                </button>
            </p>
            <p>
                <progress value="0" max="0"></progress>
            </p>
        </form>
    </fieldset>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/public/index.js"></script>
</body>
</html>
